#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

.select-menu {
    display: flex;
    align-items: center;
    height: 150px;
    width: 150px;
    margin: 3rem 0 3rem 0;
    background-color: #bba5a5;
}

#monselect {
    background-color: #901C1C;
    border-radius: 5px;
    border-color: #312E2E;
    color: #ffffff;
}

select option {
    background-color: #901C1C;
    
}
select option :hover{
    border-color: #312E2E;
}

.media-section {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 100px 0 50px 0;
    background-color: rgb(232, 209, 178);
}

img {
    height: 200px;
    width: 200px;
    max-block-size: 200px;
    border-radius: 5px;
    object-fit: cover;
    padding: 5px;
    background-color: rgb(229, 229, 229);
}

video {
    height: 200px;
    width: 200px;
    max-block-size: 200px;
    border-radius: 5px;
    object-fit: cover;
    padding: 5px;
    background-color: rgb(146, 173, 198);
}

.likes-section {
display: flex;
justify-content: space-around;
align-items: center;
position: fixed;
bottom: 0;
right: 0px;
background-color: #db8876;
width: 25rem;
height: 4rem;
border-radius: 5px 5px 0px 0px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}