body {
    margin-left: auto;
    margin-right: auto;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    border-radius: 5px;
    margin: 10px 50px 10px 50px;
}

.photograph-header {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    background-color: #fafafa;
}

.photographer_section h2 {
    color: #D3573C;


}

.photographer_section h3 {
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #525252;
}

.photographer_profil {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 100%;
}

.photographer_profil img {
    height: 200px;
    width: 200px;
    max-block-size: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 6px rgba(128, 128, 128, 0.7);
    padding: 3px;
}

.text-photographe-profil {
    width: 200px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button_submit {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button_submit:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.contact_button:focus, .contact_button:hover {
    color: black;
    background-color: #DB8876;
}

#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(67, 67, 67, 0.599);
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    border-radius: 5px;
    background-color: #DB8876;
    padding: 35px;
    margin: auto;
    margin-top: 50px;
    animation: fadeIn .3s both;
}

@keyframes fadeIn {
    from {opacity: 0; }
    to {opacity: 1;}
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 3em;
    font-weight: normal;
    text-align: center;
}

/* Refacto DropDoawn menu */
details.select_container {
    display: inline-block;
    width: 150px;
    border: none;
    position: relative;
    color: white;
}

details.select_container[open] {
    border-radius: 5px 5px 0px 0px;
    background-color: #901C1C;
}

details.select_container summary::after {
    content: "\00203A";
    position: absolute;
    right: 12px;
    top: calc(50%);
    transform: translateY(-50%) rotate(90deg);
    pointer-events: none;
}
    
details.select_container[open] summary::after {
    content: "\002039";
}
    
details.select_container summary {
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 5px 5px 5px 5px;
    background: #901C1C;
    list-style: none;
}
    
details.select_container summary::-webkit-details-marker {
    display: none;
}
    
details.select_container summary:hover {
    background: #db8876;
}
    
details.select_container .select {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: none;
    width: 100%;
    left: 0px;
    border-radius: 0 0 5px 5px;
    background: #901C1C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    
details.select_container .select__option {
    cursor: pointer;
    padding: 6px 12px;
}

details.select_container .select:hover .select__option.active {
    background: #db8876;
    color: #454545;
}
    
details.select_container .select__option.active,
details.select_container .select:hover .select__option.active:hover,
details.select_container .select__option:hover {
    background: #db8876;
    color: #fff;
    border-radius: 5px;
}

details.select_container .select__option input {
    display: none;
}

/* --- */
.menu-select {
    min-width: 150px;
}

.select-menu-container {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 3rem 0 3rem 0;
    font-weight: 600;
}

.js-select {
    appearance: none;
    width: 150px;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.3em 0.3em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
}

#monselect {
    width: 100%;
    background-color: #901C1C;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1; 
}

select option {
    background-color: #901C1C;
    
}
select option :hover{
    border-color: #312E2E;
}

.media-section {
    display: grid;
    align-content: center;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    width: 100%;
    color: #901C1C;
    font-weight: 500;
}

.media-item .media-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    }

.media-item .media-button:focus {
    border-color: rgb(255, 0, 89);
    border-radius: 10px;
    outline: 2px solid rgb(255, 0, 98); 
    box-shadow: 0 0 10px rgb(238, 81, 131);
}

.media-section img, .media-section video {
    height: 300px;
    width: 250px;
    max-block-size: 200px;
    border-radius: 10px;
    object-fit: cover;
    padding: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.media-section a {
    display: block;
    height: 320px;
    width: 260px;
    max-block-size: 210px;
    border-radius: 10px;
}

.media-section img:hover, .media-section video:hover {
    opacity: 0.7; /* Modifie l'opacité lorsqu'on survole l'image */
}

.media-item-txt {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    color: #901C1C;
}

.likes-count {
    margin: 0 0 0 50px;
}

.likes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}

.likes-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0px;
    background-color: #db8876;
    width: 25rem;
    height: 4rem;
    border-radius: 5px 5px 0px 0px;
    font-weight: 600;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.lightbox {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(67, 67, 67, 0.599);
}

.lightbox.none {
    opacity: 0;
}

.hidden {
    display: none;
}

.bground {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.703);
}

.lightbox__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 224, 224);
    height: auto;
    width: 40%;
}

.media__container {
    background-color: #ffffff;
    padding: 12px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}

.lightbox__img {
    max-width: 900px;
    height: auto;
    object-fit: cover;
    background-color: #ffffff;
    border-radius: 12px;
}

.lightbox__title {
    font-weight: 700;
    color: #901C1C;
}

.lightbox__counter {
    color: #901C1C;
}

/* The Close Button */
.lightbox__close {
    border: none;
    background-color: #70c3b3;
    color: white;
    background: url(../assets/images/cross-small.svg) center center / 100% 100%;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    z-index: 12;
}

.lightbox__next,
.lightbox__prev {
    border: none;
    background: url(../assets/images/arrow.svg) center center / 100% 100%;
    width: 40px;
    height: 20%;
    /* position: fixed;
    top: 40%; */
    /* right: 500px; */
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    /* margin-top: -14px; */
    z-index: 11;
    cursor: pointer;
}

.lightbox__next {
    /* left: 15px; */
    left: calc(20% - 30px);
    transform: rotate(180deg);
}

.lightbox__prev {
    right: calc(20% - 30px);
    transform: translateY(-50%);
    margin-top: 60px;
}

.lightbox button {
    opacity: .5;
    cursor: pointer;
    transition: opacity .3s;
}

.lightbox button:hover {
    opacity: 1;
}

a:hover, input:hover, button:hover, select:hover,
a:focus, input:focus, button:focus, select:focus {
    border-color: rgb(255, 0, 132);
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 10px rgb(238, 81, 131);
}

/* Nouvelle version Dropdown */

.dropdown {
    position: relative;
    cursor: pointer;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

.dropdown .dropdown-toggle {
    appearance: none;
    background: #901C1C;
    color: #fff;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;

    border: 0;
    padding: 12px 35px 12px 12px;
    border-radius: 3px;
    text-align: left;
    position: relative;
    width: 150px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
}

.dropdown .dropdown-toggle::after {
    content: '';
    border-width: 6px;
    border-radius: 3px;
    border-style: solid;
    border-color: transparent;
    border-top-color: inherit;
    position: absolute;
    right: 12px;
    top: calc(50% + 3px);
    transform: translateY(-50%);
}

.dropdown .dropdown-toggle.active::after {
    border-color: transparent;
    border-bottom-color: inherit;
    top: calc(50% - 3px);
}

.dropdown .dropdown-menu {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    background: #901C1C;
    box-shadow: 0 1px 4px rgba(150, 150, 150, 0.65);
    list-style: none;
    padding: 5px 0;
    margin: 0;
    max-width: 320px;
    width: 100%;
    border-radius: 3px;
    z-index: 10;
    visibility: hidden;
    overflow: auto;
    max-height: 200px;
    color: #fff;
}

.dropdown .dropdown-menu[aria-expanded="true"] {
    visibility: visible;
}

.dropdown .dropdown-menu > li {
    height: 35px;
    display: block;
    align-items: center;
    padding: 10px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.downpdown-menu-border {
box-shadow: 0px 24px 0px -22px rgb(255, 255, 255);
height:50px;  
}

.dropdown .dropdown-menu > li:hover,
.dropdown .dropdown-menu > li:focus {
    outline: none;
    background: #f2f2f2;
    color: #312E2E;
    opacity: 80%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    }