@import url("photographer.css");

html, body {
    font-family: "DM Sans", sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographers_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 10px 10px 10px 10px;
}

.photographers_section article {
    display: flex;
    /* justify-self: center;
    justify-content: center;
    align-items: center; */
    flex-direction: column;
    text-align: center;
}

.photographers_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographers_section article h3 {
    font-weight: 600;
}

.photographers_section article img {
    height: 200px;
    width: 200px;
    max-block-size: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 6px rgba(128, 128, 128, 0.7);
    padding: 3px;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    border-radius: 5px;
    margin: 10px 50px 10px 50px;
}

.select__option:focus-within {
    background-color: #b010ef; 

}    
.select__option input:focus {
    background-color: #ff8205; 
}